
@{
    ViewBag.Title = "密码修改";
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}
<link href="~/page/user-pass-update/index.css" rel="stylesheet" />
<script src="~/page/user-pass-update/index.js"></script>

<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a class="link" href="./index.html">MMall</a>
            <span>></span>
            <span class="link-text">修改密码</span>
        </div>
    </div>
</div>
<div class="page-wrap w">
    <div id="navSideDiv"></div>
    <div class="content with-nav">
        <div class="panel">
            <div class="panel-title">修改密码</div>
            <div class="panel-body">
                <div class="user-info">
                    <div class="form-line">
                        <span class="label">原密码：</span>
                        <input type="password" class="input" id="password" autocomplete="off" />
                    </div>
                    <div class="form-line">
                        <span class="label">新密码：</span>
                        <input type="password" class="input" id="password-new" autocomplete="off" />
                    </div>
                    <div class="form-line">
                        <span class="label">确认密码：</span>
                        <input type="password" class="input" id="password-confirm" autocomplete="off" />
                    </div>
                    <span class="btn btn-submit">提交</span>
                </div>
            </div>
        </div>
    </div>
</div>


