*{padding: 0px;margin: 0px;}
body{margin: 0 auto;}
ul li{list-style: none;}
a{text-decoration: none;color: black;}
a:hover{color: #C74F58;}
img{border:none;}


#container{width: 1200px;height: auto;margin: 0 auto;}
.top{height: 100px;width:100%;}
.content{width: 1200px;height: auto;}
.content .conLeft{width: 210px;height:400px;float: left;}
.content .conRight{width: 900px;float: left;margin-left:20px ;}

.column{width: 100%;height: 40px;background-color: #f2f2f2;}
.column ul {width: 1200px;text-align: right;height: 40px;margin: 0 auto;}
.column ul li{width: 78px;color: #D1D1D1;font-size: 14px;text-align: center;display: inline-block;}
.column ul .loginbar{width:100px;border: none;}
.column ul .loginbar a{width:100px;border: none;}
.column ul li a{color: #D1D1D1;border-left: 1px solid .d1d1d1;display:block;line-height:14px;margin-top:14px;width: 78px;height:14px;text-align: center;}
.column ul li a:hover{color:#2a975d;}
.top .header{widows: 1200px;height: 100px;}
.top .header .logo{width: 230px;height: 100px;float:left;}
.top .header .logo  img{padding-top: 20px;}
.top .header .mainNav{width:640px;height:100px;float:left;font-size: 20px; }
.top .header .mainNav ul{width: 640px;height: 100px;}
.top .header .mainNav ul li{width: 150px;height: 100px;line-height: 100px;display: inline-block;text-align: center;}
.top .header .search{width: 300px;height: 100px;margin-left: 30px;float:left;}
.top .header .search .sptxt, .top .header .search .spbtn{width:206px ;height: 50px;margin-top:24px;float: left;}
.top .header .search .spbtn{width:80px;}
.top .header .search .searchTxt{width:210px ;height: 48px;border:2px solid #2A975D;}
.top .header .search .searchBtn{width:80px ;height: 52px;background-color:#2A975D;letter-spacing:2px;font-size:20px;color:white;border: none;}

.footer{width:1200px;height: auto;clear: both;}
.footer .footerHeader{width:1200px;height: 120px;border-bottom:1px solid #f8f8f8;}
.footerHeader ul{width:1200px;height: 120px;}
.footerHeader ul li{width:260px;height:90px;float:left;padding-top: 30px;padding-left: 40px;}
.footerHeader ul li .ftImg{width: 60px;height: 60px;float: left;}
.footerHeader ul li .ftCharacter{float: left;margin-left: 18px;height:66px;padding-top:6px ;}
.footerHeader ul li .ftCharacter .ftCharacter_1,.footerHeader ul li .ftCharacter .ftCharacter_2{height: 20px;line-height: 20px;}
.footerHeader ul li .ftCharacter .ftCharacter_2{color: #9D9D9D;margin-top: 4px;}

.footer .footerContent{width:1200px;height: auto;border-top:1px solid #eeeeee;margin-top:4px;}
.footer a:hover{color: #C74F58;}
.footer .footerContent ul{width:210px;height: auto;font-size:14px;text-align: left;margin-left:2px;float:left;padding-top:30px;}
.footer .footerContent ul li{padding-top:6px ;}
.footer .footerContent .footerContent_ul{margin-left: 140px;}
.footer .footerContent ul li a{color:#6b6b6b;}
.footer .footerContent a:hover{color: #C74F58;}
.footer .footerContent ul .tab a{color:#040404;}
.footer .footerLink{clear:both;width: 1200px;}
.footer .footerLink .link{clear:both;width: 1200px;color:#6d6d6d;font-size:12px;height:80px;margin-top: 20px;}
.footer .footerLink .linkLeft{width: 300px;text-align: right;float: left;margin-top: 30px;}
.footer .footerLink .linkRight{width: 900px;text-align: left;float: right;margin-top:30px ;}
.footer .footerLink .linkRight ul{width:660px;margin-left:6px;}
.footer .footerLink .linkRight ul li{float: left;width:66px;}
.footer .footerLink .linkRight ul li a{color:#6d6d6d;}
.footer .copyright{text-align: center;color: #9d9d9d;font-size: 10px;}
