
@{
    ViewBag.Title = "商品详情";
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}
<link href="~/page/detail/index.css" rel="stylesheet" />
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a class="link" href="./index.html">MMall</a>
            <span>></span>
            <span class="link-text">标题</span>
        </div>
    </div>
</div>
<div class="page-wrap w">
    <div class="intro-wrap">
        <div class="p-img-con">
            <div class="main-img-con">
                <img class="main-img" src="images/da01.jpg" alt="冰箱" />
            </div>
            <ul class="p-img-list">
                <li class="p-img-item">
                    <img class="p-img" src="images/07.JPG" alt="冰箱1" />
                </li>
                <li class="p-img-item">
                    <img class="p-img" src="images/2.jpg" alt="冰箱2" />
                </li>
                <li class="p-img-item">
                    <img class="p-img" src="images/4.jpg" alt="冰箱3" />
                </li>
            </ul>
        </div>
        <div class="p-info-con">
            <h1 class="p-name">冰箱名称</h1>
            <p class="p-subtitle">标题呢</p>
            <div class="p-info-item p-price-con">
                <span class="label">价格:</span>
                <span class="info">￥3000</span>
            </div>
            <div class="p-info-item">
                <span class="label">库存:</span>
                <span class="info struct">30</span>
            </div>
            <div class="p-info-item p-count-con">
                <span class="label">数量:</span>
                <input class="p-count" value="1" readonly="" />
                <span class="p-count-btn plus">+</span>
                <span class="p-count-btn minus">-</span>
            </div>
            <div class="p-info-item">
                <a class="btn cart-add">加入购物车</a>
            </div>
        </div>
    </div>
    <div class="detail-wrap">
        <div class="detail-tab-con">
            <ul class="tab-list">
                <li class="tab-item active">详细描述</li>
            </ul>
        </div>
        <div class="detail-con">
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
            详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃详细描述酸度阿叔荒芜的娃<br />
        </div>
    </div>
</div>


